body {
  width: 100%;
}
.content {
  height: auto;
  min-height: calc(100vh - 8rem);
}


th {
  cursor: pointer;
}
th.focus {
  background-color: #dee2e6 !important;
}



/** Классы добавления значков сортировки
 */
th.asc:after, th.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

/* th.asc:after {
    content: "\e151";
} */

/* th.desc:after {
    content: "\e152";
} */

.sort-numerical th.asc:after {
    content: "\e153";
}

.sort-numerical th.desc:after {
    content: "\e154";
}

.sort-ordinal th.asc:after {
    content: "\e156";
}

.sort-ordinal th.desc:after {
    content: "\e155";
}
